$support-moz:    true;
$support-webkit: true;
$support-ms:     true;
$support-o:      true;
$support-def:    true;
$color-link: #456fee;
$color-white: #fff;

@mixin font_museo_sans_cyrl($size:500) {
  font-family: "museo_sans_cyrl_#{$size}", "Helvetica", "Arial", "Sans-Serif";
  font-weight: $size;
}

@mixin button {
  padding: 15px;
  border: 2px solid $color-link;
  @include font_museo_sans_cyrl(500);
  font-size: $font-size-medium;
  color: $color-link;
  width: 140px;
  margin-top: 20px;
  text-align: center;
  @include transition(all .2s ease);

  &:hover {
    background-color: $color-link;
    color: $color-white;
  }
}

@mixin сross-browser($key, $value) {
  @if $support-moz {
    -moz-#{$key}: #{$value};
  }
  @if $support-webkit {
    -webkit-#{$key}: #{$value};
  }
  @if $support-ms {
    -ms-#{$key}: #{$value};
  }
  @if $support-o {
    -o-#{$key}: #{$value};
  }
  @if $support-def {
    #{$key}: #{$value};
  }
}

@mixin transition($text) {
  @include сross-browser("transition", $text);
}

@mixin respond-to($media) {
  @if $media == supersmall {
    @media only screen and (max-width: $break-supersmall + $width-menu) { @content; }
  }
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == small {
    @media only screen and (max-width: $break-middle - 1 + 60) {@content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-middle) and (max-width: $break-large - 1) {@content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == superlarge {
    @media only screen and (max-width: $break-superlarge) {@content; }
  }
  @else if $media == lessthansmall {
    @media only screen and (max-width: $break-middle - 1) {@content; }
  }
  @else if $media == lessthanmedium {
    @media only screen and (max-width: $break-large - 1 + $width-menu) {@content; }
  }
  @else if $media == largefixed {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
  @else if $media == leftmenu {
    @media only screen and (min-width: $break-left-menu + 1) and (min-height: $break-small) { @content; }
  }
  @else if $media == middleheight {
    @media only screen and (max-height: $break-middle-height) { @content; }
  }
  @else if $media == noneparallax {
    @media only screen and (max-width: $break-large + 1) { @content; }
  }
  @else if $media == largeresolution {
    @media only screen and (min-width: $width-max) { @content; }
  }
}