@font-face {
    font-family: "museo_sans_cyrl_300";
    src:  asset_data_url('museo_sans_cyrl/museosans-300.woff') format('woff'),
          asset_url('museo_sans_cyrl/museosans-300.eot?#iefix') format('embedded-opentype'),
          asset_url('museo_sans_cyrl/museosans-300.ttf') format('truetype'),
          asset_url('museo_sans_cyrl/museosans-300.svg#museo_sans_cyrllight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "museo_sans_cyrl_500";
    src:  asset_data_url('museo_sans_cyrl/museosans-500.woff') format('woff'),
          asset_url('museo_sans_cyrl/museosans-500.eot?#iefix') format('embedded-opentype'),
          asset_url('museo_sans_cyrl/museosans-500.ttf') format('truetype'),
          asset_url('museo_sans_cyrl/museosans-500.svg#museo_sans_cyrl500') format('svg');
    font-weight: 500;
    font-style: normal;
}