$color-black: #222;
$color-white: #fff;
$color-banner: #f1edf5;
$color-gray: #888;
$color-gray-light: #eee;
$color-gray-dark: #666;
$color-link: #456fee;

$main-width: 1100px;
$artwork-width: 31%;
$width: 100%;
$padding: 30px;

$font-size-small: 0.875em;
$font-size: 1em;
$font-size-medium: 1.1em;
$font-size-big: 1em;

$break-supersmall: 400px;
$break-small: 480px;
$break-middle: 768px;
$break-large: 1024px;
$break-superlarge: 1140px;
$break-left-menu: 1350px;

$width-large: 1150px;
$width-superlarge: 1150px;
$width-menu: 90px;
$width-max: 2440px;
$break-middle-height: 620px;