$color-black: #222;
$color-white: #fff;
$color-banner: #f1edf5;
$color-gray: #888;
$color-gray-light: #eee;
$color-gray-dark: #666;
$color-link: #456fee;

$main-width: 1100px;
$artwork-width: 31%;
$width: 100%;
$padding: 30px;

$font-size-small: 0.875em;
$font-size: 1em;
$font-size-medium: 1.1em;
$font-size-big: 1em;