@font-face {
    font-family: "playfair_display_regular";
    src: url(asset-path('playfair_display/playfair_display_regular.ttf',font)) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "playfair_display_italic";
    src: url(asset-path('playfair_display/playfair_display_italic.ttf',font)) format('truetype');
    font-weight: 500;
    font-style: normal;
}