@import "mixins";

$color-gray-light: #eee;
$about-popup-width: 800px;
$contacts-popup-width: 600px;
$about-popup-color: #58c6eb;
$padding: 30px;

$font-size-medium: 1.1em;

.popup-wrapper {
  display: none;
  @include transition(all .5s ease);
  .logo {
    z-index: 999999;
    text-align: center;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  h1 {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    z-index: 9999999;
    text-align: center;
    color: white;
    font-size: 3em;
  }
}

.popup-wrapper-contacts {
  display: none;
  .phone, .email, .facebook {
    font-size: 1.5em;
    @include font_museo_sans_cyrl(500);
    text-align: center;
    margin-top: $padding/1.5;
  }
  .facebook { font-size: 1em; }
  .phone {
    font-size: 4.2em;
    margin-top: 20px;
  }
}

.transparent {
  background-color: $about-popup-color;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  cursor: pointer;
}

.popup-close {
  z-index: 9999999;
  position: fixed;
  top: $padding;
  right: $padding;
  cursor: pointer;
  img {
    width: $padding;
    @include transition(all .2s ease);
    &:hover {
      opacity: .5;
    }
  }
}

.button-popup {
  border: 2px solid $color-link;
  display: inline-block;
  padding: 10px 15px;
  color: $color-link;
  font-size: 1em;
  margin-top: 10px;
  &:hover {
    background: $color-link;
    color: white;
  }
}

.about-popup.contacts-popup {
  width: $contacts-popup-width;
  margin-left: -($contacts-popup-width/2 + $padding*1.5+5px);
}

.about-popup {
  width: $about-popup-width;
  background-color: white;
  position: absolute;
  top: 100px;
  height: auto;
  left: 50%;
  margin-left: -($about-popup-width/2 + $padding*1.5+5px);
  padding: $padding*2 $padding*2+5px;
  z-index: 9999999;
}

.about-text.contacts {
  font-size: 1.2em;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
  @include font_museo_sans_cyrl(300);
  text-align: center;
}

.fixed-about {
  position: fixed;
  top: -150px;
}

.about-text {
  @include font_museo_sans_cyrl(300);
  font-size: 1.8em;
  color: #222;
  line-height: 1.5;
  text-align: left;
}

p {
  padding-top: $padding/1.5;
  line-height: 1.8;
  font-size: 1.1em;
  color: #444;
}


.popup-wrapper-buy {
  display: none;
  .transparent {
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
  }
  .buy-form {
    position: fixed;
    top: 80px; right: 0; left: 0;
    width: 350px;
    background-color: white;
    z-index: 999999;
    margin: 0 auto;
    overflow: hidden;
    padding: $padding;
    h2 {
      font-size: 1.6em;
      width: 100%;
      text-align: center;
      line-height: 1;
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
    }
    .form {
      width: 100%;
    }
    .control-label {
      display: block;
      color: #222;
      font-size: .875em;
      margin-top: 25px;
    }
    .input {
      position: relative;
      abbr {
        color: red;
      }
    }
    .buy {
      margin-top: 10px;
      input {
        @include button;
        outline: none;
        -webkit-appearance: none;
        width: 100%;
        background-color: white;
        -webkit-font-smoothing: antialiased;
        font-size: 1em;
        cursor: pointer;
      }
    }
    input, textarea {
      width: 328px;
      outline: none;
      -webkit-appearance: none;
      @include font_museo_sans_cyrl(300);
      font-size: 1em;
      margin: 5px 0 0;
      border: 1px solid #eee;
      padding: 7px 10px;
      -webkit-font-smoothing: antialiased;
    }

    textarea {
      height: 100px;
    }
  }
}