@import "museo_sans_cyrl";
@import "mixins";
@import "icomoon";
@import "popup";

$color-black: #222;
$color-white: #fff;
$color-banner: #f1edf5;
$color-gray: #888;
$color-gray-light: #eee;
$color-gray-dark: #666;
$color-link: #456fee;

$main-width: 1000px;
$artwork-width: 31%;
$width: 100%;
$padding: 30px;

$font-size-small: 0.875em;
$font-size: 1em;
$font-size-medium: 1.1em;
$font-size-big: 1em;

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: $font-size;
  @include font_museo_sans_cyrl(300);
  background-color: $color-white;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  min-width: 900px;
}

p {
  margin: 0;
}

a {
  color: $color-black;
  text-decoration: none;
  display: block;
  @include transition(all .2s ease);

  &.functional {
    color: $color-gray;
  }

  &:hover {
    text-decoration: none;
    color: $color-link;

    * {
      text-decoration: none;
    }
  }
  
  &.delinked {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $color-link;

      * {
        text-decoration: none;
      }
    }
  }
}

h1 {
  margin: 0;
  @include font_museo_sans_cyrl(300);
  font-size: 4em;
}

h2 {
  margin: 0;
  @include font_museo_sans_cyrl(500);
  font-size: 1.3em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.big {
  background-color: $color-banner;

  .large {
    max-width: $main-width;
    margin: 0 auto;
    padding: $padding*1.5 $padding;

    .link {
      display: inline-block;
      vertical-align: middle;
      width: 42%;
      margin-right: 5%;
    }

    img {
      display: inline-block;
      width: 100%;
    }

    .content {
      display: inline-block;
      vertical-align: middle;
      max-width: 480px;
      width: 53%;

      .author {
        color: $color-gray-dark;
        font-size: $font-size-medium;
      }

      .title {
        @include font_museo_sans_cyrl(500);
        font-size: 2.7em;
        line-height: 1.3;
        margin-top: 7px;
        margin-bottom: 6px;
      }

      .description {
        color: $color-gray-dark;
        line-height: 1.9;
      }

      .price {
        @include font_museo_sans_cyrl(500);
        font-size: 1em;
        margin-top: 14px;
        color: $color-black;
      }

      a.buy {
        padding: 15px;
        border: 2px solid $color-link;
        @include font_museo_sans_cyrl(500);
        font-size: $font-size-medium;
        color: $color-link;
        width: 140px;
        margin-top: 20px;
        text-align: center;
        @include transition(all .2s ease);

        &:hover {
          background-color: $color-link;
          color: $color-white;
        }
      }
    }
  }
}

.other {
  max-width: $main-width;
  margin: 0 auto;
  padding: 45px $padding;

  .artwork {
    width: $artwork-width;
    margin-right: ($width - $artwork-width*3)/2;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    @include font_museo_sans_cyrl(300);

    &:first-child {
      margin-bottom: $padding*2;
    }

    a {
      display: block;
    }

    .artist {
      font-size: $font-size-small;
      color: $color-gray;
      margin-top: 8px;
    }

    .title {
      @include font_museo_sans_cyrl(500);
      font-size: 1.1em;
      margin-top: 7px;
      line-height: 1.4;
    }

    .price {
      color: $color-link;
      font-size: $font-size-small;
      margin-top: 8px;
    }

    img {
      width: 100%;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.smaller {
  top: 10px !important;
  height: 40px !important;
}

.header.home {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background-color: transparent;
  .logo {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
  }
  .logo img {
    height: 100px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 180px;
    @include transition(all .5s ease);
  }
  li {
    font-size: 1.1em;
    margin-right: 20px;
    cursor: pointer;
    @include transition(all .5s ease);
    &:hover {
      color: $color-link;
      @include transition(all .2s ease);
    }
  }
  .transparent-menu {
    background-color: rgba(255,255,255, 0.7);
    padding: 10px 15px;
    @include transition(all .5s ease);
  }
}

.transparent-header {
  background-color: rgba(255,255,255, 0.7) !important;
  @include transition(all .5s ease);
}

.header {
  @include font_museo_sans_cyrl(500);
  padding: $padding;
  position: relative;
  background-color: rgba(255,255,255,0.6);
  z-index: 99999;
  @include transition(all .2s ease);

  .logo {
    img {
      height: 30px;
    }
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: $padding/3;
    &:hover {
      opacity: .7;
    }
  }

  li {
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
    margin-right: $padding;
    font-size: 1.3em;
    img {
      height: 20px;
      display: inline-block;
      width: auto;
      &:hover {
        opacity: 1;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    img, .phone, .email {
      display: inline-block;
      vertical-align: bottom;
    }
    .phone, .email {
      font-size: 16px;
    }
  }

  ul.menu-left {
    display: inline-block;
    vertical-align: middle;
  }

  .menu-right {
    float: right;
  }
}


.pagination-wrapper {
  background-color: $color-gray-light;

  .pagination {
    padding: $padding;
    max-width: $main-width;
    margin: 0 auto;

    .page.current {
      @include font_museo_sans_cyrl(500);
    }

    .prev {
      float: left;
      margin-right: $padding/2;

      a {
        color: $color-gray-dark;

        &:hover {
          color: $color-link;
        }
      }
    }

    .first {
      float: left;
      margin-right: $padding/2;

      a {
        color: $color-gray-dark;

        &:hover {
          color: $color-link;
        }
      }
    }

    .page {
      display: inline-block;
      margin-right: $padding/2;

      a {
        color: $color-gray-dark;

        &:hover {
          color: $color-link;
        }
      }
    }
    .next {
      display: inline-block;
      margin-left: $padding/2;

      a {
        color: $color-gray-dark;

        &:hover {
          color: $color-link;
        }
      }
    }
    .last {
      float: left;
      margin-right: $padding;

      a {
        color: $color-gray-dark;

        &:hover {
          color: $color-link;
        }
      }
    }
    .gap {
      display: none;
    }
  }
}

.footer {
  border-top: 1px solid $color-gray-light;
  margin-top: -1px;

  .footer-wrapper {
    padding: $padding;
    position: relative;

    .copywrite {
      color: $color-gray;
      display: inline-block;
      margin-right: $padding;
    }

    .menu {
      display: inline-block;

      li {
        display: inline-block;
        margin-right: $padding/2;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .social {
      position: absolute;
      top: 22px;
      right: 0;
      right: $padding;

      li {
        display: inline-block;
        margin-right: 10px;
        padding-bottom: 0;
        &:last-child {
          margin-right: 0;
        }

        a {
          color: $color-white;
          font-family: 'icomoon';
          padding-bottom: 0;
          padding: 10px;
          font-size: 16px;
          border-radius: 100px;
          display: inline-block;
          background-color: #bbb;
        }
      }

      .fb {
        &:hover {
          background-color: #3D5A99;
        }
      }

      .tw {
        &:hover {
          background-color: #3A96FF;
        }
      }

      .vk {
        &:hover {
          background-color: #5D7EA2;
        }
      }    
    }
  }
}

.content {
  .group {
    margin-top: 62px;
  }
  .group.page-1 {
    margin-top: 0;
  }
  .artworks {
    max-width: $main-width;
    margin: 0 auto;
    padding: 0 $padding;

    .artwork {
      width: $artwork-width;
      margin-right: ($width - $artwork-width*3)/2;
      display: inline-block;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      @include font_museo_sans_cyrl(300);
      margin-bottom: $padding*2;

      &:nth-child(3n+1) {
        margin-right: 0;
      }

      a {
        display: block;
      }

      .artist {
        font-size: $font-size-small;
        color: $color-gray;
        margin-top: 8px;
      }

      .title {
        @include font_museo_sans_cyrl(500);
        font-size: 1.1em;
        margin-top: 7px;
        line-height: 1.4;
      }

      .price {
        color: $color-link;
        font-size: $font-size-small;
        margin-top: 8px;
      }

      img {
        width: 100%;
      }
    }

    h2 {
      text-align: center;
      padding: 0 $padding $padding/2;
      border-bottom: 1px solid $color-gray-light;
      margin-bottom: $padding*1.5;
      @include font_museo_sans_cyrl(300);
      font-size: $font-size-medium;
      color: $color-gray;
    }
  }
}

.artist-name {
  text-align: center;
  padding: 60px $padding $padding/2.5;
  @include font_museo_sans_cyrl(300);
  font-size: 4em;
}

.artwork {

  h1 {
    text-align: center;
    padding: $padding;
  }

  .artist-works, .other-works {
    max-width: $main-width;
    margin: 0 auto;
    padding: 0 $padding;

    .artwork {
      width: $artwork-width;
      margin-right: ($width - $artwork-width*3)/2;
      display: inline-block;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      @include font_museo_sans_cyrl(300);
      margin-bottom: $padding*2;

      &:nth-child(3n+1) {
        margin-right: 0;
      }

      a {
        display: block;
      }

      .artist {
        font-size: $font-size-small;
        color: $color-gray;
        margin-top: 8px;
      }

      .title {
        @include font_museo_sans_cyrl(500);
        font-size: 1.1em;
        margin-top: 7px;
        line-height: 1.4;
      }

      .price {
        color: $color-link;
        font-size: $font-size-small;
        margin-top: 8px;
      }

      img {
        width: 100%;
      }
    }

    h2 {
      text-align: center;
      padding: $padding*2 $padding $padding/2;
      border-bottom: 1px solid $color-gray-light;
      margin-bottom: $padding*1.5;
    }
  }

  .big {
    background-color: $color-banner;

    .large {
      max-width: $main-width;
      margin: 0 auto;
      padding: $padding*1.5 $padding;

      .link {
        display: inline-block;
        vertical-align: middle;
        width: 42%;
        margin-right: 5%;
      }

      img {
        display: inline-block;
        width: 100%;
      }

      .content {
        display: inline-block;
        vertical-align: middle;
        max-width: 53%;

        .author {
          color: $color-gray-dark;
          font-size: $font-size-medium;
        }

        .title {
          @include font_museo_sans_cyrl(500);
          font-size: 2.7em;
          line-height: 1.3;
          margin-top: 7px;
          margin-bottom: 6px;
        }

        .description {
          color: $color-gray-dark;
          line-height: 1.9;
        }

        .price {
          @include font_museo_sans_cyrl(500);
          font-size: 1em;
          margin-top: 14px;
          color: $color-black;
        }
      }
    }
  }
}

.image-wrapper {
  display: none;
}

.image-wrapper.page-1 {
  text-align: center;
  color: $color-white;
  display: block;
  height: 450px;
  width: 100%;
  background: image_url('main-img2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  .logo {
    margin-bottom: 20px;
    img {
      width: 300px;
    }
  }

  .headline {
    top: 200px;
    position: relative;
    color: $color-black;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    h1 {
      font-size: 2.5em;
      @include font_museo_sans_cyrl(300);
      line-height: 1.3;
    }
    p {
      font-size: 1.2em;
      color: $color-gray;
      line-height: 1.7;
      margin-top: $padding/2;
    }
  }
}

// .contacts {
//   background: linear-gradient(to top, #72C9ED, transparent);
//   margin-top: 84px;
//   .contacts-wrapper {
//     height: 480px;
//     max-width: $main-width;
//     margin: 0 auto;
//     padding: $padding*3 $padding 0;
//     h1 {
//       text-align: center;
//       font-size: 3.5em;
//     }
//     p {
//       font-size: 1.2em;
//       max-width: 400px;
//       text-align: center;
//       @include font_museo_sans_cyrl(300);
//       margin: 0 auto;
//       line-height: 1.7;
//       margin-top: $padding/2;
//     }
//     .phone, .email {
//       @include font_museo_sans_cyrl(500);
//       text-align: center;
//       color: $color-black;
//       margin-top: $padding;
//       font-size: 1.5em;
//     }
//     .email {
//       margin-top: $padding/1.5;
//     }
//   }
//   .social {
//     text-align: center;
//     margin-top: $padding;

//     li {
//       display: inline-block;
//       margin-right: 10px;
//       padding-bottom: 0;
//       &:last-child {
//         margin-right: 0;
//       }

//       a {
//         color: $color-white;
//         font-family: 'icomoon';
//         padding-bottom: 0;
//         padding: 10px;
//         font-size: 16px;
//         border-radius: 100px;
//         display: inline-block;
//       }
//     }

//     .fb {
//       background-color: #3D5A99;
//     }

//     .tw {
//       background-color: #3A96FF;
//     }

//     .vk {
//       background-color: #5D7EA2;
//     }    
//   }
// }