.popup-wrapper
  .transparent
  .about-popup
    .about-text Мы&nbsp;верим, что жить с&nbsp;искусством может позволить себе каждый. &laquo;Проблемы белых стен&raquo; занимается выпуском и&nbsp;продажей работ современных художников, фотографов, иллюстраторов и&nbsp;архитекторов в&nbsp;ограниченном тираже. Тиражный авторский принт, работа на&nbsp;бумаге&nbsp;&mdash; отличный &laquo;строительный материал&raquo; для фундамента домашней коллекции. Это находка для тех, кто только начинает задумываться о&nbsp;том, чем занять вакантное место на&nbsp;стене.