ul.social
  li.icon = link_to "f", "https://www.facebook.com/pages/Third-Place/222335867821233", class: "fb"
  li.icon = link_to "v", "http://vk.com/thirdplace", class: "vk"
  li = link_to "t", "https://twitter.com/3place", class: "tw"